.App {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	margin: auto;
	max-width: 500px;
}

.type {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	.type--inputs input,
	button {
		border-radius: 30px;
		border: 1px solid transparent;
		outline: none;
		padding: 15px;
	}
	.type--inputs input {
		box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19),
			0 6px 6px rgba(0, 0, 0, 0.23);
	}

	.type--inputs button {
		background-color: rgba(80, 211, 20, 0.64);
		margin: 5px;
		font-weight: bold;
		color: white;
		// border-radius: 50%;
	}
}

.list {
	width: 100%;
	text-align: center;
	ul {
		list-style: none;
		padding: 0;
	}
	.list--item {
		display: flex;
		justify-content: space-between;
		border-radius: 30px;
		border: 1px solid transparent;
		box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19),
			0 6px 6px rgba(0, 0, 0, 0.23);
		margin: 5%;
		padding: 15px;
		button {
			border-radius: 50%;
			background-color: rgba(211, 26, 20, 0.64);
			color: white;
			padding: 5px;
			height: 30px;
			width: 30px;
			border: 1px solid;
		}
	}
}
